.main {
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__right {
  flex: 0.2;
}

.main__videos {
  background-color: rgb(58, 58, 58);
}

body {
  background-color: rgb(58, 58, 58);
}

.main__controls {
  color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
video {
  height: 200px;
  width: 300px;
  margin: 5px;
  border: 2px gray solid;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}

.btn-success:hover {
  background-color: #3ca728;
  border-color: #3ca728;
  border-radius: 5px;
}

.wrapper {
  position: relative;
}
.wrapper video {
  position: relative;
  z-index: 0;
}

.wrapper span {
  position: absolute;
  display: block;
  z-index: 1;
  left: 5px;
  bottom: 20px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
  background-color: #343434;
}

.disabled {
  opacity: 0.5;
}

@media (max-width: 575.98px) {
  #screen_share {
    display: none;
  }
  #record {
    display: none;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (min-width: 992px) {
  .div-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    background: #52525294;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    z-index: 2;
    opacity: 0;
    top: 0;
    position: absolute;
    transition: 0.3s;
  }

  .div-overlay:hover {
    opacity: 1;
    transition: 0.3s;
  }

  .video-full-screen {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-full-screen video {
    width: 60vw;
    height: 70vh;
  }
}
